<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    {% block header %}
        <meta charset="UTF-8">
        <title>Borne to be Alive</title>
    {% endblock %}
</head>

<body>
<div class="container position-fixed mt-3">
    <a class="btn btn-secondary rounded" style="width:40px; height: 40px" href="/">
        <i class="fa-solid fa-house" style="margin-left: -1px"></i>
    </a>
</div>
{% block content %}{% endblock %}

<script src="../static/js/jquery-3.6.1.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/chart.min.js"></script>
<script src="https://kit.fontawesome.com/5a10daaa44.js" crossorigin="anonymous"></script>
</body>
</html>